{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mesero.css' %}">
    <title>Mesero</title>
</head>
<body>
    <h1>Panel de usuarios</h1>
    <h3>Bienvenido mesero: {{ user }}</h3>
    <ul>
        <li><a href="{% url 'users_app:user-logout' %}">Cerrar sesion</a></li>
        <li><a href="#">Actualizar datos</a></li>
    </ul>

    <div class="container">
        <div class="main-container">
          <h2>Crear orden</h2>
          <div class="order">
            <div class="order-img">
              <img src="{% static 'img/platillos.png' %}" alt="Platillos" width="100px">
              <h3>Platillos</h3>
            </div>
            <div class="menu">
              <ul>
                <li>Lasagna</li>
                <li>Pasta</li>
                <li>Ensalada Cesar</li>
                <li>Pizza Pepperoni</li>
                <li>Pizza Hawaiana</li>
                <li>Pizza Carnes Frias</li>
              </ul>
            </div>
          </div>
          <div class="order"> <img src="{% static 'img/quickordericon.png' %}" alt="" width="250"> </div>
          <div class="order">
            <div class="order-img">
              <img src="{% static 'img/bebidas.png' %}" alt="" width="100px">
              <h3>Bebidas</h3>
            </div>
            <div class="menu">
              <ul>
                <li>Vino Blanco</li>
                <li>Vino Tinto</li>
                <li>Coca-Cola</li>
                <li>Manzana</li>
                <li>Fanta</li>
                <li>Agua Mineral</li>
              </ul>
            </div>
          </div>
          <textarea name="" id=""></textarea>
          <button>Confirmar</button>
        </div>
      </div>

</body>
</html>