{% extends 'waiter/layout.html' %}
{% load static %}

{% block content %}
<div class="main-container">
  <h2>Crear orden</h2>
  <br><br>
  <h2>Mesa: {{ mesa }}</h2>
  <div class="order">
    <div class="order-img">
      <img src="{% static 'img/platillos.png' %}" alt="Platillos" width="100px">
      <h3>Platillos</h3>
    </div>
    <div class="menu">
      <ul>
        {% for platillo in platillos %}
          {% if platillo.tipo == 'Platillo' %}
            <li onclick="addToTextarea('{{ platillo.nombre }}')">{{ platillo.nombre }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="order"> <img src="{% static 'img/quickordericon.png' %}" alt="" width="250"> </div>
  <div class="order">
    <div class="order-img">
      <img src="{% static 'img/bebidas.png' %}" alt="" width="100px">
      <h3>Bebidas</h3>
    </div>
    <div class="menu">
      <ul>
        {% for platillo in platillos %}
          {% if platillo.tipo == 'Bebida' %}
            <li onclick="addToTextarea('{{ platillo.nombre }}')">{{ platillo.nombre }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <form method="POST">
    {% csrf_token %}
    <input type="hidden" name="mesa" id="mesa" value="{{ mesa }}">
    <textarea id="orderTextarea"></textarea>
    <button type="submit">Confirmar</button>
  </form>
  
</div>

{% endblock %}