{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mesero.css' %}">
    <title>Mesero</title>
</head>
<body>
    <h1>Panel de usuarios</h1>
    <h3>Bienvenido mesero: {{ user }}</h3>
    <ul>
        <li><a href="{% url 'users_app:user-logout' %}">Cerrar sesion</a></li>
    </ul>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script>
        function addToTextarea(item) {
            const textarea = document.getElementById('orderTextarea');
            textarea.value += item + '\n';
        }
    </script>
</body>
</html>