*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: sans-serif;
  color: white;
  background: linear-gradient(to bottom, #000000, #d13b04);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  height: 820px;
  width: 1200px;
}

.main-container{
  margin: auto;
  padding: 30px;
  height: 820px;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

header{
  width: 1200px;
  height: 60px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header h3{
  margin-left: -70px;
}

header ul li a{
  text-decoration: none;
  color: #fff;
}

h2{
  width: 100%;
  text-align: center;
}

.order{
  width: 250px;
  margin: 20px;
}

.order-img{
  width: 100%;
  height: 170px;
  padding:10px 50px 10px 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color:#d13b04;
}

.menu{
  margin-top: 10px;
  padding: 30px;
  width: 100%;
  height: 220px;
  border-radius: 25px;
  background-color: #d15b31;
  overflow: auto;
}

li{
  line-height: 1.7;
  list-style: none;
  cursor: pointer;
}

textarea{
  width: 830px;
  height: 200px;
  border-radius: 25px;
  padding: 20px;
  color: white;
  background-color: #d15b31;
}

button{
  margin: 20px 55px 20px 0px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: auto;
  background-color: rgb(77, 10, 10);
}

button:active{
  background-color: brown;
}

form{
  display: flex;
  flex-direction: column;
}

.cards{
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card{
  background-color: #9e2a00;
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 0 5px #000;
}

.card a{
  display: block;
  text-decoration: none; 
  color: #fff;
}

.card a p{
  text-align: center;
}

.card img{
  width: 100px;
  height: 100px;
}