{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/quickordericon.png' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="main-container">
        <form method="POST" class="credentials-container">
            {% csrf_token %}
            <h2>QUICKORDER</h2>
            <div class="input-form">
                <label>{{ form.username.label }}</label><br>
                {{form.username}}
            </div>
            <div class="input-form">
                <label>{{ form.password.label }}</label><br>
                {{form.password}}
            </div>
            <button class="btnLogin" type="submit">LOGIN</button>
        </form>
</body>
</html>